<div class="todos-item " (click)="onTodoClicked()" [class.completed]="todo.completed">
    <div class="check-box">
        <i class="material-icons">check</i>
    </div>
    <div class="todo-text">
        {{todo.text}}
    </div>
    <div class="todo-control-box" (click)="$event.stopPropagation()">
        <div class="todo-control-button" (click)="onEditClicked()" matTooltip="Edit Todo">
            <i class="material-icons">edit</i>
        </div>
        <div class="todo-control-button is-danger" (click)="onDeleteClicked()" matTooltip="Delete Todo">
            <i class="material-icons">delete</i>
        </div>
    </div>
</div>